body{
    background-color: #D2EBF0;
    height: 750px;
}
h1{
    text-align: center;
    padding: 70px;
}
form{
    padding: 30px;
    text-align: center;
    color: #99C5E5;
}
input[type=submit]{
    width: 18%;
    color: black;
    background-color: #0788B1;
    border-radius: 5%;
    cursor: pointer;
    padding: 10px 2px;
    margin: 15px 0;
    border: black;
}
input[type=text]{
    background-color: #99C5E5;
    padding: 100px 300px;
    width: 17%;
    border-radius: 5%;
    border-color: #99C5E5;
}
input[type=text]::placeholder{
    text-align: center;
    color: black;
}